@import "tailwindcss";

/* Custom styles */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  background-color: #f9fafb;
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
}
